<div class="dialog">
    <h5 class="mb-0">Add brand</h5>

    <button mat-icon-button mat-dialog-close>
        <mat-icon>close</mat-icon>
    </button>

    <!-- <button class="bg-transparent text-white border-0">X</button> -->
</div>
<mat-dialog-content>
    <div class="row mt-3">
        <div class="col-lg-6">
            <mat-label>
                Name
            </mat-label>
            <div class="form-group">


                <mat-form-field appearance="outline" class="w-100 mb-3">

                    <input matInput placeholder="Enter department name">
                </mat-form-field>
            </div>
        </div>
        <div class="col-lg-6">
            <mat-label>
                Parent Department
            </mat-label>
            <div class="form-group">

                <mat-form-field appearance="outline" class="w-100 date-field">

                    <mat-select>
                        <mat-option value="">None</mat-option>
                        <mat-option value="option1">Option 1</mat-option>
                        <mat-option value="option2">Option 2</mat-option>
                    </mat-select>
                </mat-form-field>


            </div>
        </div>
        <div class="row mt-3">


            <div class="">
                <div class="upload-container">
                    <!-- Upload Box -->
                    <div class="upload-box " *ngIf="!previewUrl" (click)="fileInput.click()">
                        <input type="file" #fileInput accept="image/*" (change)="onFileSelected($event)" hidden
                            formControlName="ad_banner_image" />
                        <div class="upload-icon"><img src="assets/images/upload-id.png" /></div>
                        <p class="upload-text">upload Image</p>
                    </div>

                    <!-- Preview Section -->
                    <div class="preview-box" *ngIf="previewUrl">
                        <img [src]="previewUrl" alt="Uploaded Image Preview" class="w-25" />
                        <div class="preview-actions justify-content-center d-flex mt-3">
                            <!-- <button class="remove-btn" (click)="removeImage()">Remove</button> -->
                            <!-- <button class="upload-btn" (click)="uploadImage()">Upload</button> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <mat-form-field appearance="outline" class="w-100">
                    <textarea matInput placeholder="Enter here" rows="6"></textarea>
                </mat-form-field>
            </div>
        </div>
         <div class="d-flex justify-content-between mt-4">
            <button type="button" class="btn btn-danger">Cancel</button>
            <button type="button" class="btn btn-primary">Save Item</button>
        </div>
    </div>
</mat-dialog-content>