<div class="login-bg position-fixed top-0 start-0 end-0 bottom-0"></div>
<div class="auth-box my-lg-0">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6">
        <div class="login-bg-left">
          <img src="assets/images/logo.svg" alt="Logo" class="mb-4" />
        </div>
      </div>

      <div class="col-lg-6">
        <div class="login-bg-right">
          <!-- <button mat-icon-button aria-label="Back" routerLink="../sign-in">
            <mat-icon>arrow_back</mat-icon>
          </button> -->
          <div class="login-card">
            <mat-card class="rounded-4 m-2">
              <mat-card-content class="p-3">
                <div class="text-start">
                  <h4 class="mb-2">Reset Password</h4>
                  <p class="mb-4 text">
                    Create a new password for your account
                  </p>
                </div>
                <div class="row g-2">
                  <div class="col-12 col-md-12">
                    <mat-label>Enter your password</mat-label>
                    <mat-form-field class="w-100 mb-0" appearance="outline">
                      <input
                        matInput
                        [type]="hide ? 'password' : 'text'"
                        placeholder="Enter password"
                      />
                      <button
                        mat-icon-button
                        matSuffix
                        (click)="hide = !hide"
                        [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide"
                      >
                        <mat-icon>{{
                          hide ? "visibility_off" : "visibility"
                        }}</mat-icon>
                      </button>
                    </mat-form-field>
                  </div>
                  <div class="col-12 col-md-12">
                    <mat-label>Enter your password</mat-label>
                    <mat-form-field class="w-100 mb-0" appearance="outline">
                      <input
                        matInput
                        [type]="hide2 ? 'password' : 'text'"
                        placeholder="Enter password"
                      />
                      <button
                        mat-icon-button
                        matSuffix
                        (click)="hide2 = !hide2"
                        [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide2"
                      >
                        <mat-icon>{{
                          hide2 ? "visibility_off" : "visibility"
                        }}</mat-icon>
                      </button>
                    </mat-form-field>
                  </div>

                  <div class="col-12 col-md-12">
                    <div class="d-grid mb-2 mt-3">
                      <button
                        type="button"
                        class="btn btn-login"
                        routerLink="/reset-password"
                      >
                        Submit
                      </button>
                    </div>
                  </div>
                </div>
                <!--end row-->
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
