

<div class="login-bg position-fixed top-0 start-0 end-0 bottom-0"></div>
<div class="auth-box my-lg-0">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6">
        <div class="login-bg-left">
          <img src="assets/images/logo.svg" alt="Logo" class="mb-4" />
        </div>
      </div>

      <div class="col-lg-6">
        <div class="login-bg-right">
          <div class="login-card">
            <mat-card class="rounded-4 m-2">
              <mat-card-content class="p-3">
                <div class="text-start">
                  <h4 class="mt-2">Forgot Password?</h4>
                  <p class="mt-4 text">
                    No worries! Enter your registered email or Phone number.
                  </p>
                </div>
                <div class="row g-2">
                  <div class="col-12 col-md-12">
                    <mat-label>Email ID / Phone number</mat-label>
                    <mat-form-field class="w-100 mb-0" appearance="outline">
                      <input matInput placeholder="Enter Email ID / Phone number" />
                    </mat-form-field>
                  </div>
    
                  <div class="col-12 col-md-12">
                    <div class="d-grid py-4">
                      <button type="button"  class="btn btn-login" routerLink="/otp-verification" > Next </button>
                    </div>
                  </div>
                </div>
                <!--end row-->
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



