<div class="login-bg position-fixed top-0 start-0 end-0 bottom-0"></div>
<div class="auth-box my-lg-0">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6">
        <div class="login-bg-left">
          <img src="assets/images/logo.svg" alt="Logo" class="mb-4" />
        </div>
      </div>

      <div class="col-lg-6">
        <div class="login-bg-right">
          <div class="login-card">
            <mat-card class="rounded-4 m-2">
              <mat-card-content class="p-3">
                <div class="text-start">
                  <h4 class="mb-2">OTP Verification</h4>
                  <p class="mb-4 text">
                    Enter the 6-digit code sent to your registered email /
                    mobile number.
                  </p>
                </div>
                <div class="row g-2">
                  <div class="col-12 col-md-12">
                    <ng-otp-input
                      class="text-center"
                      [config]="{ length: 6, allowNumbersOnly: true }"
                    >
                    </ng-otp-input>
                  </div>

                  <div class="col-12 col-md-12">
                    <div class="d-grid mb-2 mt-3">
                      <button
                        type="button"
                        class="btn btn-login"
                        routerLink="/reset-password"
                      >
                        Verify
                      </button>
                    </div>
                  </div>
                  <div class="col-12 col-md-12">
                    <div class="text-center">
                      <p class="account">Resend OTP in 30 secs</p>
                    </div>
                  </div>
                </div>
                <!--end row-->
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
